## 1. 稀土掘金：这20个Pandas函数，让你的"数据清洗"能力提升100倍

url:https://juejin.cn/post/7041744236969984030?utm_source=gold_browser_extension

In [2]:
import pandas as pd
df ={'姓名':[' 黄同学','黄至尊','黄老邪 ','陈大美','孙尚香'],
     '英文名':['Huang tong_xue','huang zhi_zun','Huang Lao_xie','Chen Da_mei','sun shang_xiang'],
     '性别':['男','women','men','女','男'],
     '身份证':['463895200003128433','429475199912122345','420934199110102311','431085200005230122','420953199509082345'],
     '身高':['mid:175_good','low:165_bad','low:159_bad','high:180_verygood','low:172_bad'],
     '家庭住址':['湖北广水','河南信阳','广西桂林','湖北孝感','广东广州'],
     '电话号码':['13434813546','19748672895','16728613064','14561586431','19384683910'],
     '收入':['1.1万','8.5千','0.9万','6.5千','2.0万']}
df = pd.DataFrame(df)
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万

### cat 函数拼接字符串

In [3]:
df["姓名"].str.cat(df["家庭住址"],sep='-'*3)

0     黄同学---湖北广水
1     黄至尊---河南信阳
2    黄老邪 ---广西桂林
3     陈大美---湖北孝感
4     孙尚香---广东广州
Name: 姓名, dtype: object

### contain 函数判断字符串包含

In [4]:
df["家庭住址"].str.contains("广")

0     True
1    False
2     True
3    False
4     True
Name: 家庭住址, dtype: bool

### startwith endwith 函数判断字符串首尾

In [8]:
# 第一个行的“ 黄伟”是以空格开头的
df["姓名"].str.startswith("黄")

0    False
1     True
2     True
3    False
4    False
Name: 姓名, dtype: bool

In [7]:
df["英文名"].str.endswith("e")

0     True
1    False
2     True
3    False
4    False
Name: 英文名, dtype: bool

### count 函数统计字符在字符串中出现的次数

In [9]:
df["电话号码"].str.count("3")

0    3
1    0
2    1
3    1
4    2
Name: 电话号码, dtype: int64

### get 函数获取字符串指定位置的字符

In [10]:
df["姓名"].str.get(-1)

0    学
1    尊
2
3    美
4    香
Name: 姓名, dtype: object

In [11]:
df["身高"].str.split(":")

0         [mid, 175_good]
1          [low, 165_bad]
2          [low, 159_bad]
3    [high, 180_verygood]
4          [low, 172_bad]
Name: 身高, dtype: object

In [12]:
df["身高"].str.split(":").str.get(0)

0     mid
1     low
2     low
3    high
4     low
Name: 身高, dtype: object

### len 函数计算字符串长度

In [13]:
df["性别"].str.len()

0    1
1    5
2    3
3    1
4    1
Name: 性别, dtype: int64

### upper lower 函数英文大小写转换

In [14]:
df["英文名"].str.upper()

0     HUANG TONG_XUE
1      HUANG ZHI_ZUN
2      HUANG LAO_XIE
3        CHEN DA_MEI
4    SUN SHANG_XIANG
Name: 英文名, dtype: object

In [15]:
df["英文名"].str.lower()

0     huang tong_xue
1      huang zhi_zun
2      huang lao_xie
3        chen da_mei
4    sun shang_xiang
Name: 英文名, dtype: object

### pad函数+side参数/center函数 在字符串左右添加字符

In [16]:
df["家庭住址"].str.pad(10,fillchar="*")      # 相当于字符串的ljust()方法

0    ******湖北广水
1    ******河南信阳
2    ******广西桂林
3    ******湖北孝感
4    ******广东广州
Name: 家庭住址, dtype: object

In [17]:
df["家庭住址"].str.pad(10,side="right",fillchar="*")    # 相当于rjust()

0    湖北广水******
1    河南信阳******
2    广西桂林******
3    湖北孝感******
4    广东广州******
Name: 家庭住址, dtype: object

In [18]:
df["家庭住址"].str.center(10,fillchar="*")

0    ***湖北广水***
1    ***河南信阳***
2    ***广西桂林***
3    ***湖北孝感***
4    ***广东广州***
Name: 家庭住址, dtype: object

### repeat函数 重复字符串

In [19]:
df["性别"].str.repeat(3)

0                男男男
1    womenwomenwomen
2          menmenmen
3                女女女
4                男男男
Name: 性别, dtype: object

### slice_replace函数 切片替换

In [22]:
df["电话号码"].str.slice_replace(4,8,"*"*4)

0    1343****546
1    1974****895
2    1672****064
3    1456****431
4    1938****910
Name: 电话号码, dtype: object

### replace函数在指定位置替换（接受正则表达式）

In [24]:
df["身高"].str.replace(":","-")

0         mid-175_good
1          low-165_bad
2          low-159_bad
3    high-180_verygood
4          low-172_bad
Name: 身高, dtype: object

In [28]:
df["收入"].str.replace("\d+\.\d+","点")

C:\Users\cheny\AppData\Local\Temp/ipykernel_10696/1110992322.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["收入"].str.replace("\d+\.\d+","点")

0    点万
1    点千
2    点万
3    点千
4    点万
Name: 收入, dtype: object

### split函数+expand参数

In [29]:
df["身高"].str.split(":")

0         [mid, 175_good]
1          [low, 165_bad]
2          [low, 159_bad]
3    [high, 180_verygood]
4          [low, 172_bad]
Name: 身高, dtype: object

In [30]:
# split方法，搭配expand参数
df[["身高描述","final身高"]] = df["身高"].str.split(":",expand=True)
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入,身高描述,final身高
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万,mid,175_good
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千,low,165_bad
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万,low,159_bad
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千,high,180_verygood
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万,low,172_bad

In [31]:
df["身高"].str.split(":").str.join("?"*5)

0         mid?????175_good
1          low?????165_bad
2          low?????159_bad
3    high?????180_verygood
4          low?????172_bad
Name: 身高, dtype: object

### strip、rstrip、lstrip函数 去除空白，换行符等

In [40]:
df["姓名"].str.len()

0    3
1    3
2    3
3    3
4    3
Name: 姓名, dtype: int64

In [41]:
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入,身高描述,final身高
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万,mid,175_good
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千,low,165_bad
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万,low,159_bad
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千,high,180_verygood
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万,low,172_bad

In [42]:
df["姓名"] = df["姓名"].str.strip()
df

,姓名,英文名,性别,身份证,身高,家庭住址,电话号码,收入,身高描述,final身高
0,黄同学,Huang tong_xue,男,463895200003128433,mid:175_good,湖北广水,13434813546,1.1万,mid,175_good
1,黄至尊,huang zhi_zun,women,429475199912122345,low:165_bad,河南信阳,19748672895,8.5千,low,165_bad
2,黄老邪,Huang Lao_xie,men,420934199110102311,low:159_bad,广西桂林,16728613064,0.9万,low,159_bad
3,陈大美,Chen Da_mei,女,431085200005230122,high:180_verygood,湖北孝感,14561586431,6.5千,high,180_verygood
4,孙尚香,sun shang_xiang,男,420953199509082345,low:172_bad,广东广州,19384683910,2.0万,low,172_bad

In [37]:
df["姓名"].str.len()

0    3
1    3
2    3
3    3
4    3
Name: 姓名, dtype: int64

### findall函数 利用正则表达式，去字符串中匹配，返回查找结果的<font color="#dd0000">列表</font>
<br />

In [43]:
df["身高"]

0         mid:175_good
1          low:165_bad
2          low:159_bad
3    high:180_verygood
4          low:172_bad
Name: 身高, dtype: object

In [44]:
df["身高"].str.findall("[a-zA-Z]+")

0         [mid, good]
1          [low, bad]
2          [low, bad]
3    [high, verygood]
4          [low, bad]
Name: 身高, dtype: object

### extract、extractall函数 接受正则表达式，抽取匹配的字符串(一定要加上括号)

In [46]:
df["身高"].str.extract("([a-zA-Z]+)")

      0
0   mid
1   low
2   low
3  high
4   low

In [48]:
# extractall提取得到复合索引
df["身高"].str.extractall("([a-zA-Z]+)")

                0
  match
0 0           mid
  1          good
1 0           low
  1           bad
2 0           low
  1           bad
3 0          high
  1      verygood
4 0           low
  1           bad

In [49]:
# extract搭配expand参数
df["身高"].str.extract("([a-zA-Z]+).*?([a-zA-Z]+)",expand=True)

      0         1
0   mid      good
1   low       bad
2   low       bad
3  high  verygood
4   low       bad